body {
    font-family: 'Montserrat', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.container {
    width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden;
}

.section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
}
.section-title span {
    color: #fd9222;
}

.
/* -------------HEADER---------------- */

.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: #111;
}

.header-logo-italic {
    font-style: italic;
}

.header-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
    color: #fd9222;
}

/*? -------------HERO-------------- */

.hero {
    border-radius: 30px;
    width: 1136px;
    height: 600px;
    background: rgba(17, 17, 17, 0.6);
}

.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: #fff;
}

.hero-buy-btn {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    font-family: inherit;
    line-height: normal;
    cursor: pointer;
    border-radius: 100px;
    padding: 14px 40px;
    width: 144px;
    height: 45px;
    background: rgba(17, 17, 17, 0.6);
    background: #fd9222;
}

.hero-made-btn {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    line-height: normal;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 14px 40px;
    width: 183px;
    height: 45px;
}

.hero-down-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #fff;
}

/*! --------------FEATURES--------------- */

.features {
    background: #1e1823;
}
.features-list {
}
.features-item {
}
.features-subtitle {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    line-height: normal;
}
.features-item-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

/* ------------TASTE------------------- */

.taste {
}

.taste-title {
}

.taste-text {
    font-size: 14px;
    text-align: center;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #111;
}

.taste-list {
}
.taste-item {
}
.taste-img {
}

.taste-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111;
}

/* ----------------MADE--------------- */

.made {
}
.made-title {
}

.made-img {
}

.made-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: #111;
    }

.made-list {
}
.made-item {
}

.made-item-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #111;
}

/*! -------------PRODUCTS--------------------*/

.products {
}
.products-title {
}

.products-list {
}
.products-item {
}
.products-img {
}
.products-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111;
}
.products-item-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
}
.products-item-btn {
    font-weight: 600;
    font-size: 14px;
    color: #111;
    line-height: normal;
    font-family: inherit;
    cursor: pointer;
}

/*? -----------------------TOP-------------- */

.top {
}
.top-title {
}
.section-title {
}
.top-list {
}
.top-item {
}
.top-img {
}
.top-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111;
}

/* ----------------LOVED----------- */
.loved {
}
.loved-title {
}
.loved-list {
}
.loved-item {
}
.loved-img {
}
.loved-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #111
}
.loved-item-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}
.loved-btn {
    font-weight: 600;
    font-size: 18px;
    color: #111;
    font-family: inherit;
    line-height: normal;
}

/** --------------FOOTER-------------- */
.footer {
    background: #1E1823;
}

.footer-heading {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.footer-heading span {
    color: #FD9222;
}

.footer-subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #FFFFFF;
}
.footer-soc-list {
}
.footer-soc-item {
}
.footer-soc-link {
}
.footer-address {
    font-style: normal;
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-link {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #FFFFFF;
}
.footer-navigation {
}
.footer-menu-list {
}
.footer-menu-item {
}
.footer-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.footer-menu-link:hover,
.footer-menu-link:focus,
.footer-menu-link:active {
    color:  #FD9222;
}
